<ion-view class="signup-view auth-view" cache-view="false">
  <ion-content class="all-content" scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card sign-up-container">
         
          <form name="signup_form" class="" ng-controller="ctrl" novalidate>
            <div class="item item-body"> 
                <label class="tab-name">
                    <h1> Cadastro </h1>
                </label>               
                <!-- Foto --> 
                <label class="item-picture">
                    <input type="text" placeholder="Foto" name="user_picture" ng-model="user.picture">
                </label>
              
                <!-- Nome -->  
                <label class="col-75 item item-input">
                    <input type="text" placeholder="Nome" name="user_name" ng-model="user.name" required>
                </label>
                
 
                <!-- Email -->   
                <label class="col-75 item item-input">
                    <input type="email" placeholder="Email" name="user_name" ng-model="user.email" required>
                </label>
               
              
              <!-- Confirmação do email -->
              <label class="item item-input">
                <input type="email" placeholder="Confirme o Email" name="email_confirmation" ng-model="user.email_confirmation" confirm-pwd="user.email" required>
              </label>
              <div class="form-errors" ng-messages="signup_form.email_confirmation.$error" ng-if='signup_form.email_confirmation.$touched'>
                    <span class="form-error" ng-message="required">Preenchimento obrigatório</span>
                    <span class="form-error" ng-message="password">Email não confere</span>
              </div>
              
              
              <!-- Senha -->
              <div class="row password ">
              <label class="item item-input col-50" show-hide-container>
                <input type="password" placeholder="Password" name="user_password" ng-model="user.password" required show-hide-input>
              </label>
              
              <!-- Confirmação da senha -->
              <label class="item item-input col-50" show-hide-container>
                <input type="password" placeholder="Confirme o Password" name="password_confirmation" ng-model="user.password_confirmation"  required="" confirm-pwd="user.password" show-hide-input>
              </label>
              </div>
              
              <div class="form-errors" ng-messages="signup_form.password_confirmation.$error" ng-if='signup_form.password_confirmation.$touched'>
                    <span class="form-error" ng-message="required">Preenchimento obrigatório</span>
                    <span class="form-error" ng-message="password">Senha não confere</span>
              </div>
              
              <!-- Seleção do cliente -->
              <label class="item item-select">
                <select type="text" placeholder="Selecione o tipo de cliente" name="user_client" ng-model="user.client" required>
                    <option>Profissional</option>
                    <option selected>Cliente</option>
                </select> 
              </label>
              
            </div>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-assertive button-block" ng-click="doSignUp()" ng-disabled="signup_form.$invalid">
                Próximo
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="log-in button button-small button-clear button-light" ui-sref="auth.walkthrough">
            Log In
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>