.signup-view
{
    
    .all-content
    {
        max-width: 400px;
        margin: 0 auto;
        
    }
    
    
	.sign-up-container
	{
		margin-bottom: 0px;
	}
    
   
    .tab-name h1
    {
        font-size: 20px;
        color: #555;
        border-bottom: 1px solid #ddd; 
        margin-bottom: 5px;
    }

    /** Styling for the error text and container **/
    .show-hide-input
    {
        width: 100%;
    }
    .form-errors 
    {
        margin: 0px 0;
        background-color: #CA6565;
        text-align: center;
        width: 100%
    }
    .form-error 
    {
        padding: 2px 0 2px 16px;
        line-height: 34px;
        color: #FFF;
    }
    label
    {    
        padding: 0px;
        margin: 8px 0px; 
        margin-bottom: 0px; 
        border:none;
        background-color: #ddd;
       
        input 
        {
            padding-left: 5px!important;
        }    
        
        .ng-valid[required] 
        {
             border-left: 5px solid #42A948; /* green */
             
        }

        .ng-invalid 
        {
            //border-left: 5px solid #a94442; /* red */

        }
        
    }
    
    select
    {   
        width: 100%;
        max-width: 100%;
        position: relative;
        -webkit-appearance:none;
        margin: 0px;
        padding: 2px;
        height: 34px;
        direction: ltr;
        background-color: #ddd;
        
        option
        {
            position: relative;
            max-width: 100%;
        }
    }
    .item-select
    {   
        padding: 0px;
        max-width: 100%;
        height: 100%;
        position: relative;
    }
    
    .item-picture
    {
        height: 76px;
        float: right;
        width: 22%;
        display: block; 
        background-color: #ddd;
        margin:4px 0;
        
        input 
        {
            height: 68px;
            width: 100%;
            background-color: #ddd;
        }
    }
    
    .ion-eye, .ion-eye-disabled
    {
        margin-right: 10px;    
    }
    
    .button.button-assertive
    {
        background-color: #D8D80D;
        border: none;    
        color: black
    }
    
    .password
    {
        padding: 0px;
        .item
        {
            margin-bottom:0px;
            border: none;  
            border-radius: 0px;
        }
        .item:first-child
        {
             border-right: 4px solid #FFF;    
        }
    }
}
