.walkthrough-view
{
    .all-content
    {
        max-width: 400px;
        margin: 0 auto;
        
    }
	.top-content
	{
		height: 30%;
		text-align: center;
        

		h1
		{
			color: $auth-color;
		}
        
        .login-icone
        {
            animation: rotate 1s;
            max-height: 50px
        }
        
        .login-logo
        {
            max-width: 180px
        }        
	}

	.bottom-content
	{
		height: 70%;
        padding: 0px 25px;
		padding-top: 5px; 
		margin-top: 0px;
        
        
        .item-input
        {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #aaa;
        }

        input[type="text"]
        {
            color: #aaa !important;
        }
        
        .login-icon
        {
            margin: 0px;
            background-color:rgba(255,255,255,0.1);
            position: absolute;
            left:0px;
            height: inherit;
            padding: 0px;
            width: 40px;
            text-align: center;
        }
         
         .login-icon i
         {
             color: $auth-color;
             font-size: 16px;             
         }
               
		.button-stable
		{
			border: none;
			color: $auth-color;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 2px;
            min-height: 10px;
            text-align: left;
            padding-left:45px;
            white-space:nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
		}

		.login.button
		{
			background-color: #377C43;
            margin-bottom:  45px;
		}

        .facebook.button
        {
            background-color: #1D2FB0;
        }
        
        .google.button
        {
            background-color: #B50D0D;
        }
        
        .list
        {
            margin-bottom: 5px;    
        }
            
        .alternative-actions
        {
            margin-top:5px;    
        }
	}
}

/* The animation code */
@keyframes animation-logo {
    0% {height: 75%;}
    50% {height: 35%;}
    100% {height: 75%;}
}

@keyframes rotate {
    0% { -webkit-transform: scale(0) rotate(0deg); }
    50% { -webkit-transform: scale(0.5) rotate(360deg); }
    100% { -webkit-transform: scale(1) rotate(0deg); }
}