<ion-view class="walkthrough-view" cache-view="false">
 
  <ion-content class="all-content" scroll="false">
      
    <div class="top-content row">
        <div class="col col-center">
            <img class="login-icone" ng-src="img/icone.png"><br>
            <img class="login-logo" ng-src="img/logo.png">
        </div>
    </div>
    
       
    <div class="bottom-content">
        <form name="login_form" class="" novalidate ng-cloak>
            <my-tabs>
                <my-tab title="Email">
                    <div class="row col">            
                        <label class="item item-input">               
                            <i class="ion-person placeholder-icon"></i>
                            <input type="text" placeholder="Email" name="user_email" ng-model="user.email" required>               
                        </label>
                    </div>

                    <div class="row col">
                        <label class="item item-input">
                            <i class="ion-ios-locked-outline placeholder-icon"></i>
                            <input type="password" placeholder="Password" name="user_password" ng-model="user.password" required >
                        </label>
                    </div>
            </my-tab>            
            <div class="row col">
                    <a class="login button button-block button-stable" ng-click="doLogIn()" ng-disabled="(selected_tab=='Email') ? (login_form.user_email.$invalid || login_form.user_password.$invalid) : ((selected_tab=='Phone') ? (login_form.user_phone.$invalid || login_form.user_pin.$invalid) : false)">
                        <div class="login-icon"><i class="ion-log-in"></i></div>
                        Log in
                    </a>
            </div>          
      </form>
      
      <div class="row col">
            <a class="facebook button button-block button-stable">
                <div class="login-icon"><i class="ion-social-facebook"></i></div>
                Log in with Facebook 
            </a>
            
      </div>       
      <div class="row col">
            <a class="google button button-block button-stable">
                <div class="login-icon"><i class="ion-social-googleplus"></i></div>
                Log in with Google Plus 
            </a>
      </div>     
      
      <div class="alternative-actions row">
          <a class="col-50 forgot-password button button-small button-clear button-light" ui-sref="auth.forgot-password">
            Forgot Password?
          </a>
          <a class="col-50 sign-up button button-small button-clear button-light" ui-sref="auth.signup">
            Sign Up
          </a>
        </div>
       
    </div>
  </ion-content>
</ion-view>
